body {
    margin: 0;
}

.listanav li {
    list-style-type: none;
}

.izquierda {
    float: left;
    border: none;
    color: white;
    list-style-type: none;
}

.derecha {
    position: relative;
    float: right;
    margin-right: 20px;
    border: none;
    color: white;
    list-style-type: none;
}

.listanav form {
    padding: 13px;
    font-size: 16px;
}

.estiloInput {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.logo {
    padding: 16px;
    font-size: 16px;
}

ul {
    margin: 0;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #90C3D4
}

.botonnav {
    background-color: #90C3D4;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-opciones {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-opciones a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.botonnav:hover {
    background-color: #599EB5;
}

.menu-opciones a:hover {
    background-color: #ddd;
}

#aa:checked~.menu-opciones {
    display: block;
}

#aa:checked~#ab {
    background-color: #599EB5;
}

#aa {
    display: none;
}

#ab {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    background-color: #90C3D4;
    padding: 16px 20px;
    cursor: pointer;
    text-align: center;
    color: white;
}

#ab:hover {
    background-color: #599EB5;
}

#nav-check {
    display: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
}

@media screen and (max-width: 920px) {
    .label1 {
        position: absolute;
        right: 0px;
        top: 0px;
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 13px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
    }
    .label1:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .label1>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    nav>div>ul {
        position: absolute;
        display: none;
        width: 280px;
        min-width: 160px;
        right: 0;
        top: 50px;
        z-index: 1;
    }
    nav>div>ul>li {
        display: block;
        width: 100%;
    }
    .botoncheck:checked~.listanav {
        display: block
    }
    .botoncheck:checked~.label1 {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .menu-opciones {
        position: absolute;
    }
    .botonnav {
        width: 100%;
        background-color: #90C3D4;
        border: solid;
        border-color: #599EB5;
    }
    .derecha {
        position: none;
        margin-right: 0;
    }
    #nombre {
        display: none;
    }
    .menu {
        width: 100%;
    }
    #ab {
        background-color: #90C3D4;
        border: solid;
        border-color: #599EB5;
    }
    .menu-opciones {
        width: 280px;
    }
    #buscador {
        background-color: #90C3D4;
        border: solid;
        border-color: #599EB5;
        width: 274px;
    }
}