#ab {
  background-color: #90C3D4;
  border: solid;
  border-color: #599EB5;
}
.botoncheck:checked  ~ .listanav {
  display:block
}
.botoncheck:checked ~ .label1 {
  background-color: rgba(0, 0, 0, 0.3);
}
.textAlignCenter{
  text-align: center;
}
#loginSm{
  display: none;
}
#nombre {
  margin-top: 16px;
}
#aa:checked ~ .menu-opciones {
  display: block;
}
#aa:checked ~#ab {
  background-color:#599EB5;

}
#aa {
  display: none;
}
#ab {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  background-color: #90C3D4;
  padding: 16px 20px;
  cursor: pointer;
  text-align: center;
  color:white;
}
#ab:hover {
  background-color:#599EB5;
}
#encabezadoSm{
  display: none;
}
#encabezadoSm{
  display: block;
}
#encabezado{
  display: none;
}
#loginSm {
  display:flex;
}
