<div class="tab-pane fade show active" id="contenidoRoles" role="tabpanel" aria-labelledby="tabRoles">
  <div class="form-row align-items-center mt-2">
    <div class="col-md-auto mb-2 ml-md-auto">
      <label for="bus_nombre">Nombre:</label>
    </div>
    <div class="col-md-auto">
      <input type="text" class="form-control mb-2" id="bus_nombre" placeholder="Nombre rol...">
    </div>
    <div class="col-md-auto textcenter">
      <button type="button" id="btnBuscar" class="btn btn-outline-primary mb-2">Buscar</button>
    </div>
  </div>
  <div id="pagina" class="">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaRoles">
          <tr><td colspan="2" align="center">Cargando...</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Navegacion entre paginas">
    <ul class="pagination justify-content-center">
      <li id="anterior" class="page-item disabled">
        <button class="page-link" id="btnAnterior" aria-label="Pagina anterior">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Pagina anterior</span>
        </button>
      </li>
      <li id="inicio" class="page-item active"><button id="btnInicio" class="page-link">1</button></li>
      <li id="medio" class="page-item"><button id="btnMedio" class="page-link">2</button></li>
      <li id="final" class="page-item"><button id="btnFinal" class="page-link">3</button></li>
      <li id="siguiente" class="page-item">
        <button class="page-link" id="btnSiguiente" aria-label="Pagina siguiente">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Pagina siguiente</span>
        </button>
      </li>
    </ul>
  </nav>
  <br>
</div>
