{% for rol in roles %}
  <tr>
    <td style="text-align: center">{{ rol.getNombre |capitalize }}</td>
    <td id="{{rol.getId}}" style="text-align: end">
      {% for permiso in permisos %}
        {% include "moduloRol/boton_#{permiso}.twig" ignore missing %}
      {% endfor %}
    </td>
  </tr>
  {% else %}
    <td colspan="2" style="text-align: center" >No hay roles para mostrar</td>
{% endfor %}
