<li id="tabModificarRol" style="display: none;" class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#contenidoModificarRol" role="tab" aria-controls="contenidoModificarRol" aria-selected="false">Modificar Rol</a>
</li>
