<li id="tabAgregarRol" class="nav-item">
  <a class="nav-link" data-toggle="tab" href="#contenidoAgregarRol" role="tab" aria-controls="contenidoAgregarRol" aria-selected="false">Agregar rol</a>
</li>
