.contentsclass{
  display: contents;
}
.rojo{
  color:red;
}
.textcenter{
  text-align: center;
}
.textend{
  text-align: end;
}
.bordeclass{
  border: solid grey 2px;
  border-radius: 9px;
}
.breakclass{
  word-break: break-all;
}
.colorfondo{
 background-color:  #e3f2fd;
}
.bottomclass{
  bottom:1em;
}
.alturabuscador{
  height: 3.375em;
}
.tamanofuente{
  font-size: 1.5em;
}
.noneclass{
  display: none ;
}
.inputBuscador{
  width: 14em !important;
}

.pieDePagina{
  line-height: 3.75em;
}

.barraNavegacion{
  display: contents;
}

.btnActivar{
  width: 5.143em;
}

.alerta{
  max-width: inherit !important;
  margin-right: 1em !important;
}

@media only screen and (min-width: 768px) {
  .inputBuscadorPaciente{
    width: 6em !important;
  }
}

@media only screen and (min-width: 992px) {
  .inputBuscadorPaciente{
    width: 8em !important;
  }
}

@media only screen and (min-width: 1200px) {
  .inputBuscadorPaciente{
    width: inherit !important;
  }
}

