.contentsclass{
  display: contents;
}
.rojo{
  color:red;
}
.textcenter{
  text-align: center;
}
.textend{
  text-align: end;
}
.noneclass{
  display: none ;
}
.inputBuscador{
  width: 14em !important;
}

.pieDePagina{
  line-height: 3.75em;
}

.barraNavegacion{
  display: contents;
}

.btnActivar{
  width: 5.143em;
}

.alerta{
  max-width: inherit !important;
  margin-right: 1em !important;
}

@media only screen and (min-width: 768px) {
  .inputBuscadorPaciente{
    width: 6em !important;
  }
}

@media only screen and (min-width: 992px) {
  .inputBuscadorPaciente{
    width: 8em !important;
  }
}

@media only screen and (min-width: 1200px) {
  .inputBuscadorPaciente{
    width: inherit !important;
  }
}

