<div class="tab-pane fade" id="contenidoModificarConsulta" role="tabpanel" aria-labelledby="tabModificarConsulta">
  <div class="row justify-content-center mt-2">
    <div class="col-10">
      <form id="formularioModificarConsulta" onsubmit="return false">


        
        <div class="form-row justify-content-center">
          <button type="submit" id="btnModificarConsulta" class="btn btn-primary">Modificar consulta</button>
        </div>
      </form>
    </div>
  </div>
</div>
