<div class="tab-pane fade show active" id="contenidoConsultas" role="tabpanel" aria-labelledby="tabConsultas">
  <div id="pagina" class="">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="textcenter" scope="col">Documento</th>
            <th class="textcenter" scope="col">Historia Clinica</th>
            <th class="textcenter" scope="col">Fecha</th>
            <th class="textcenter" scope="col">Motivo</th>
            <th class="textcenter" scope="col">Internacion</th>
            <th class="textcenter" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody id="cuerpoTablaConsultas">

          <tr><td colspan="6" align="center">Cargando...</td></tr>

        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Navegacion entre paginas">
    <ul class="pagination justify-content-center">
      <li id="anterior" class="page-item disabled">
        <button class="page-link" id="btnAnterior" aria-label="Pagina anterior">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Pagina anterior</span>
        </button>
      </li>
      <li id="inicio" class="page-item active"><button id="btnInicio" class="page-link">1</button></li>
      <li id="medio" class="page-item"><button id="btnMedio" class="page-link">2</button></li>
      <li id="final" class="page-item"><button id="btnFinal" class="page-link">3</button></li>
      <li id="siguiente" class="page-item">
        <button class="page-link" id="btnSiguiente" aria-label="Pagina siguiente">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Pagina siguiente</span>
        </button>
      </li>
    </ul>
  </nav>
  <br>
</div>
