<div class="tab-pane fade" id="contenidoAgregarConsulta" role="tabpanel" aria-labelledby="tabAgregarConsulta">
  <form id="formularioAgregarConsulta" onsubmit="return false">



    <div class="form-row justify-content-center">
      <button type="submit" id="btnAgregarConsulta" class="btn btn-primary">Agregar consulta</button>
    </div>
  </form>
</div>
