<li id="tabModificarConsulta"  class="nav-item noneclass">
  <a class="nav-link" data-toggle="tab" href="#contenidoModificarConsulta" role="tab" aria-controls="contenidoModificarConsulta" aria-selected="false">Modificar consulta</a>
</li>
