<li id="tabVerConsuta" class="nav-item noneclass">
  <a class="nav-link" data-toggle="tab" href="#contenidoVerConsuta" role="tab" aria-controls="contenidoVerConsuta" aria-selected="false">Detalle de la consulta</a>
</li>
