<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administración
    </a>
    <div class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
      {% for modulo in modulosAdministracion %}
        {% include "modulosBarraNavegacion/#{modulo}.twig" %}
      {% endfor %}
    </div>
  </li>
</ul>
