{% extends 'layout.twig' %}

{% block titulo %}
  Administración
{% endblock %}

{% block panel_izquierdo %}
<ul class="navbar-nav ml-lg-5">
  <li class="nav-item">
    <a class="nav-link" href="inicio.php">Inicio <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Consultas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Pacientes</a>
  </li>
</ul>
{% endblock %}

{% block panel_central %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administración
    </a>
    <div class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="?action=usuarios">Usuarios</a>
      <a class="dropdown-item" href="#">Roles</a>
      <a class="dropdown-item" href="#">Permisos</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="?action=configuracion">Configuración</a>
    </div>
  </li>
</ul>
{% endblock %}

{% block panel_derecho %}
  <p class="mb-0 ml-0 ml-lg-3">juan.perez</p>
{% endblock %}
