{% extends pagina %}

{% block titulo %}
  Buscar Institucion
{% endblock %}

{% block cuerpo %}
  <div class="container" id="main">
    <div class="row mt-3">
      <div class="col textcenter">
        <h1>Buscador de instituciones</h1>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <div class="form-row align-items-center mt-2">
          <div class="col-md-auto mb-2">
            <label class="" for="partidos">Partidos: </label>
          </div>
          <div class="col-md-auto mb-2">
            <select class="custom-select mr-sm-2" v-on:change="cargarRegionSanitaria" id="partidos">
              <option disabled="disabled" value="" selected>Seleccionar...</option>
              <option v-for="partido in partidos" v-bind:value="partido.id">${ partido.nombre }</option>
            </select>
          </div>
          <div class="col-md-auto mb-2">
            <label class="mr-sm-2" for="regionSanitaria">Region Sanitaria:</label>
          </div>
          <div class="col-md-auto">
            <input id="regionSanitaria" type="text" class="form-control mb-2" v-bind:value="nombreRegionSanitaria" class="form-control" readonly>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="textcenter">#</th>
                <th scope="col" class="textcenter">Institución</th>
                <th scope="col" class="textcenter">Director/a</th>
                <th scope="col" class="textcenter">Direccion</th>
                <th scope="col" class="textcenter">Telefono</th>
              </tr>
            </thead>
            <tbody id="cuerpoTablaRoles">
              <tr v-for="insti in instituciones">
                <td class="textcenter">${insti.id}</td>
                <td class="textcenter">${insti.nombre}</td>
                <td class="textcenter">${insti.director}</td>
                <td class="textcenter">${insti.direccion}</td>
                <td class="textcenter">${insti.telefono}</td>
              </tr>
              <tr v-if="instituciones.length == 0">
                <td colspan="5" class="textcenter">No hay instituciones para mostrar</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="templates/js/vue.js"></script>
  <script src="templates/js/axios.min.js"></script>
  <script>
    var partidos = new Vue({
      delimiters: ['${', '}'],
      el: '#main',
      data: {
        partidos: [],
        nombreRegionSanitaria: '',
        instituciones: []
      },
      created() {
        axios.get('https://api-referencias.proyecto2018.linti.unlp.edu.ar/partido')
        .then(response => {
          this.partidos = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
      },
      methods: {
        cargarRegionSanitaria: function () {
          var idPartido = $("#partidos").val();
          var regId = this.partidos.find(partido => partido.id === idPartido).region_sanitaria_id
          axios.get('https://api-referencias.proyecto2018.linti.unlp.edu.ar/region-sanitaria/' + regId)
          .then(response => {
            this.nombreRegionSanitaria = response.data.nombre;
          })
          .catch(e => {
            this.errors.push(e)
          });
          axios.get('https://grupo12.proyecto2018.linti.unlp.edu.ar/apiRest/api.php/instituciones/region-sanitaria/' + this.nombreRegionSanitaria)
          .then(response => {
            this.instituciones = response.data;
          })
          .catch(e => {
            this.errors.push(e)
          });
        }
      }
    })
  </script>
{% endblock %}
