{% extends 'layout.twig' %}

{#
Datos esperados
array('username' => $username,
      'modulos' => array('paciente','consulta'),
      'modulosAdministracion' => array('usuario','rol', 'permiso', 'configuracion'),
      );
#}

{% block panel_izquierdo %}
<ul class="navbar-nav ml-lg-5">
  <li class="nav-item">
    <a class="nav-link" href="index.php?action=home">Inicio <span class="sr-only">(current)</span></a>
  </li>
  {% for modulo in modulos %}
    {% include "modulosBarraNavegacion/#{modulo}.twig" %}
  {% endfor %}
</ul>
{% endblock %}

{% block panel_central %}
  {% if modulosAdministracion is not empty %}
    {% include 'modulosBarraNavegacion/dropdownAdministracion.twig' %}
  {% endif %}
{% endblock %}

{% block panel_derecho %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_username" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ username | capitalize }}
      </a>
      <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdown_username">
        <a class="dropdown-item" href="?action=cerrarSesion">Cerrar sesión</a>
      </div>
    </li>
  </ul>
{% endblock %}
