{% extends 'layout.twig' %}

{% block titulo %}
  Ingresar
{% endblock %}

{% block buscador %}
  <div class="alturabuscador">

  </div>
{% endblock %}

{% block cuerpo %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-sm-6 col-lg-4">
        <form onsubmit="return false">
          <div class="form-group">
            <label for="usuario" id="labelUsuario">Usuario</label>
            <input name="usuario" type="text" class="form-control" id="usuario" aria-describedby="labelUsuario" placeholder="Usuario..." required>
          </div>
          <div class="form-group">
            <label for="contrasena" id="labelContrasena">Contraseña</label>
            <input aria-describedby="labelContrasena" name="contrasena" type="password" class="form-control" id="contrasena" placeholder="Contraseña..." required>
          </div>
          <div class="form-row justify-content-center">
            <button type="submit" class="btn btn-primary align-self-center" id="btnAceptar">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="templates/js/login.js"></script>
{% endblock %}
