{% extends 'layoutLogueado.twig' %}

{% block cuerpo %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div id="toPdf" class="container"></div>
    </div>
  </div>
  <button type="button" id="imprimir" onclick="print()">Imprimir</button>
  <table id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Jane</th>
            <th>John</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Apples</th>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <th>Pears</th>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr>
            <th>Plums</th>
            <td>5</td>
            <td>11</td>
        </tr>
        <tr>
            <th>Bananas</th>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th>Oranges</th>
            <td>2</td>
            <td>4</td>
        </tr>
    </tbody>
  </table>
  <div id="ca">

  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="templates/js/html2canvas.min.js"></script>
<script src="templates/js/jspdf.min.js"></script>
<script src="templates/js/highcharts.src.js"></script>
<script>
var listado = [{
    name: 'Chrome',
    y: 61.41,
}, {
    name: 'Internet Explorer',
    y: 11.84
}, {
    name: 'Firefox',
    y: 10.85
}, {
    name: 'Edge',
    y: 4.67
}, {
    name: 'Safari',
    y: 4.18
}, {
    name: 'Sogou Explorer',
    y: 1.64
}, {
    name: 'Opera',
    y: 1.6
}, {
    name: 'QQ',
    y: 1.2
}, {
    name: 'Other',
    y: 2.61
}]
var chart1 = Highcharts.chart('toPdf', {

    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },

    title: {
        text: 'Browser market shares in January, 2018'
    },

    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },

    plotOptions: {
        pie: {
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },

    series: [{
        name: 'Brands1',
        size: 150,
        colorByPoint: true,
        data: listado
    }]
});

//Para actualizar estadisticas!!
/*
chart1.update({
        series: [{
        name: 'Brands1',
        size: 150,
        colorByPoint: true,
        data: listado
    }],
        title: {
            text: 'Listado'
        },
    });
*/
function print() {
    html2canvas(document.body,{
      onrendered:function(canvas){
        var img=canvas.toDataURL("image/png");
        var doc = new jsPDF();
        doc.addImage(img,'JPEG',20,20);
        doc.save('test.pdf');
      }
    });
    /*
		const filename  = 'ThisIsYourPDFFilename.pdf';
		html2canvas(document.getElementById('par')).then(canvas => {
			let pdf = new jsPDF('p', 'mm', 'a4');
			pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, 211, 298);
			pdf.save(filename);
		});*/
}
</script>
{% endblock %}
